PORT=3000
CORS_ORIGIN=*
DB_HOST=postgres
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=talent_db
TYPEORM_SYNC=true
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
LINKEDIN_CLIENT_ID=replace-with-id
LINKEDIN_CLIENT_SECRET=replace-with-secret
GOOGLE_CLIENT_ID=replace-with-id
GOOGLE_CLIENT_SECRET=replace-with-secret
VITE_API_URL=http://localhost:3000
